@font-face {
  font-family: "Lobster", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
}

.home-page {
  position: relative;
  overflow: hidden;

  .users-cards-container {
    height: 90vh;
    overflow: auto;
  }

  .home-page-header-row {
    position: sticky;
    top: 0;
    z-index: 1;
    .home-page-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      width: 100%;

      .home-page-title {
        color: #ffff;
        margin-top: 10px;
        font-size: 28px;
        white-space: nowrap;
        margin-right: 10px;
      }
      .add-user-button {
        margin-left: 10px;
        svg {
          margin-top: 18px;
          height: 28px;
          width: 28px;
          color: #ffff;
        }
      }
    }
  }
  .user-card-col {
    justify-content: center;
    display: flex;
  }
}
